<div class="dashboard-container">
<mat-card class="menu-card">
  <h2>Sales Representative Dashboard</h2>
  <div class="menu-buttons">
    <button mat-raised-button color="primary" routerLink="/sales-representative">Sales Representatives</button>
    <button mat-raised-button color="accent" routerLink="/products">Products</button>
    <button mat-raised-button color="warn" routerLink="/targets">Targets</button>
    <button mat-raised-button color="primary" routerLink="/sales">Sales</button>
  </div>
</mat-card>
</div>
