<h2>Edit Sale</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100">
    <mat-label>Sales Representative</mat-label>
    <mat-select formControlName="salesRepId">
      <mat-option *ngFor="let rep of salesReps" [value]="rep.id">
        {{ rep.firstName }} {{ rep.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Product</mat-label>
    <mat-select formControlName="productId">
      <mat-option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Quantity</mat-label>
    <input matInput type="number" formControlName="quantity" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Sale Date</mat-label>
    <input matInput type="date" formControlName="saleDate" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Amount</mat-label>
    <input matInput type="number" formControlName="amount" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Save Changes
  </button>
</form>